{-# LANGUAGE FlexibleContexts, TypeFamilies, OverloadedStrings,
             RecursiveDo, RankNTypes, ScopedTypeVariables, TemplateHaskell #-}

module $modulename where

import CommonReflex
import Control.Monad
import Data.List (zipWith, zipWith3)

import Reflex
import Reflex.Dom

$code
